body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    margin: 0;
    background-image: url(img/img/BG.svg);
    backdrop-filter: blur(10px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: black;
}


canvas {
    background-color: black;
    z-index: 2;
    display: block;
    border-radius: 10px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: rgba(0, 0, 0, 0.209);
    color: rgb(233, 233, 233);
}

th, td {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 30px;
    padding-right: 40px;
}

.mainContainer {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centerCanvas {
    position: relative;
    aspect-ratio: 720/480;
    max-width: 100%;
    max-height: 100%;
}

.Logo {

    position: absolute;
    z-index: 3;
    top: 20px;
    max-width: 100vw;
    margin-top: 50px;
    width: auto;
}

.bgimage {
    position: fixed;
    object-fit: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 !important;
    padding: 0;
    height: 100%;
    width: 100%;
    filter: blur(10px);
}

.startScreen {
    position: fixed;
    z-index: 4;
    margin: 0 !important;
    padding: 0;
    max-height: 480px;
    max-width: 720px;
    aspect-ratio: 720/480;
    height: 100%;
    width: auto;
    background-color: rgb(0, 0, 0);
    gap: 20px;
    box-sizing: border-box;
    padding-top: 100px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    background-image: url(img/img/Startscreen.png);
    background-position: center;
    font-family: 'Roboto', sans-serif;
}




.startButton {
    max-width: 300px;
    width: 100%;
    height: 45px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 500;
}

.startButton:hover {
    transform: scale(1.05);
    transition: 0.025s ease-in-out;
    background-color: rgba(42, 42, 42, 0.05);
}

.tutorialScreen {
    position: fixed;
    z-index: 5;
    margin: 0 !important;
    padding: 0;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 10px;
    background-image: url(img/img/Startscreen.png);
    max-height: 480px;
    max-width: 720px;
    aspect-ratio: 720/480;
    height: 100%;
    width: auto;
    background-color: rgb(0, 0, 0);
    background-position: center;
    font-family: 'Roboto', sans-serif;
}
.settingsScreen {
    position: fixed;
    z-index: 5;
    margin: 0 !important;
    padding: 0;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    border-radius: 10px;
    color: white;
    background-image: url(img/img/Startscreen.png);
    max-height: 480px;
    max-width: 720px;
    aspect-ratio: 720/480;
    height: 100%;
    width: auto;
    background-color: rgb(0, 0, 0);
    background-position: center;
    font-family: 'Roboto', sans-serif;

}

.closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 48px;
    height: 48px;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(img/img/Icons/Back.svg);
    filter: invert(93%) sepia(100%) saturate(0%) hue-rotate(171deg) brightness(109%) contrast(101%);
    cursor: pointer;

}

.settingOptions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}
.settingOptions:hover {
    transform: scale(1.05);
    transition: 0.025s ease-in-out;
}

.endScreenPic {
    height: 480px;
    width: 720px;
}

.endscreen {
    position: fixed;
    z-index: 4;
    margin: 0 !important;
    padding: 0;
    height: 480px;
    width: 720px;
    box-sizing: border-box;
    display: none;

}
.gameOverlay {
    position: absolute;
    z-index: 3;
    margin: 0 !important;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 150px;
    box-sizing: border-box;
    flex-direction: column;
    max-height: 480px;
    max-width: 720px;
    aspect-ratio: 720/480;
    height: 100%;
    width: 100%;

    font-family: 'Roboto', sans-serif;

    padding: 0;
    border-radius: 10px;
    color: white;
    
}
.pauseBtn {
    filter: invert(93%) sepia(100%) saturate(0%) hue-rotate(171deg) brightness(229%) contrast(101%);
    height: 48px;
    width: 48px;
cursor: pointer;
    
}

.pauseIcons {
    max-height: 48px;
    max-width: 48px;
    height: 100%;
    width: 100%;
    filter: invert(48%) sepia(24%) saturate(6259%) hue-rotate(88deg) brightness(50%) contrast(92%);
    cursor: pointer;
}
.pauseIcons:hover {
    filter: invert(48%) sepia(24%) saturate(6259%) hue-rotate(88deg) brightness(100%) contrast(92%);
    transform: scale(1.05);
    transition: 0.025s ease-in-out;

}
.pauseIconContainer{
    /* max-width: 720px;
    max-height: 480px;
    height: 100%;
    width: 100%; */
    display: flex;
    column-gap: 50px;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
aspect-ratio: 720/480;
    
}



@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
        margin-left: 0 !important;
    }
    .endscreen {
        width: 100%;
    }
    .startScreen {
        width: 100%;
    }
    .gameOverlay {
        width: 100%;
    }
    .tutorialScreen {
        width: 100%;
    }
    .settingsScreen {
        width: 100%;
    }
    .mainContainer {
        display: block;
    }
    .endScreenPic {
        width: 100%;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
    .endscreen {
        height: 100vh;
    }
    .startScreen {
        height: 100vh;
    }
    .gameOverlay {
        height: 100vh;
    }
    .tutorialScreen {
        height: 100vh;
    }
    .settingsScreen {
        height: 100vh;
    }
    .mainContainer {
        display: block;
    }
    .endScreenPic {
        height: 100vh;
    }
}