body {
    overflow: hidden;
    
}

canvas {
    background-color: black;
    z-index: 2;
    border-radius: 10px;
}
.centerCanvas{
height: 100vh;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
z-index: 2;
}

.Logo {
    position: fixed;
    z-index: 3;
    margin-top: 50px;
   
}
.logoBg {
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 3;
}
.bgimage {
    position: fixed;
    object-fit: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 !important;
    padding: 0;
    height: 100%;
    width: 100%;
    filter: blur(10px);
}